﻿<!DOCTYPE html>
<html ng-app="PrStock">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

</head>
<body>
   @RenderBody()
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
