﻿<div>
    <a href="#/create" class="btn">Create</a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Тип</th>
            <th>Категория/th>
            <th>Колличество</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="item in Types">
            <td>{{ item.TypeName }}</td>
            <td>{{ item.Category }}</td>
            <td>{{ item.Quantity | number }}</td>
            <td>{{ item.Salary | number: 2 }}</td>
            <td>
                <a href="#/edit/{{item.DetailedTypeViewModelId}}" class="glyphicon glyphicon-edit"></a>
            </td>
            <td>
                <a href="#/delete/{{item.DetailedTypeViewModelId}}" class="glyphicon glyphicon-trash"></a>
            </td>
        </tr>
    </table>
</div>  
